[submodule "sims/AstraSim/astrasim-archgym"]
	path = sims/AstraSim/astrasim-archgym
	url = https://github.com/changhai0109/astrasim-archgym-public.git
	branch =v2.2.0
[submodule "sims/CFU-Playground/CFU-Playground"]
	path = sims/CFU-Playground/CFU-Playground
	url = https://github.com/google/CFU-Playground.git
