tensorboard==2.8.0
tensorflow==2.8.0
qhoptim==1.1.0
torch==2.3.0
scikit-learn==1.2.2
xgboost==2.0.3
atoma==0.0.17
scikit-optimize==0.10.1
envlogger==1.0.8
absl-py==2.1.0
sympy==1.12.1
plotly==5.22.0
scons==4.7.0
portpicker==1.6.0
dill==0.3.8
jupyter==1.0.0
appdirs==1.4.4
wandb==0.17.0
matplotlib
ninja==1.11.1.1
packaging==24.0
scipy==1.13.1
gpustat==1.1.1
watch==0.2.7
lit==18.1.6