dm-env
tensorflow-estimator==2.8.0
dm-tree
dm-launchpad==0.5.2
typing-extensions
gym
tensorflow_probability==0.15.0
tensorflow==2.8.0
dm-haiku
bsuite
keras==2.8.0
optax
absl-py
flax
numpy==1.22.4
tensorflow-datasets==4.5.2
rlds
jaxlib==0.3.5
dm-reverb==0.7.2
chex
trfl
gym[atari]
jax==0.3.6
dm-sonnet
dm-control==0.0.364896371
pillow
rlax
atari-py
pygame==2.1.0
dm-reverb==0.7.2
