tensorflow-estimator==2.8.0
tensorflow_probability==0.15.0
rlds
jax
rlax
tensorflow==2.8.0
dm-tree
gym[atari]
pygame==2.1.0
dm-env
keras==2.8.0
dm-control==0.0.364896371
absl-py
dm-launchpad==0.5.2
gym
numpy==1.22.4
dm-sonnet
pillow
chex
typing-extensions
dm-reverb==0.7.2
tensorflow-datasets==4.5.2
dm-haiku==0.0.10
bsuite
atari-py
trfl
jaxlib
optax
