jax==0.3.6
gym
dm-haiku
atari-py
numpy==1.22.4
rlax
tensorflow-estimator==2.8.0
tensorflow_probability==0.15.0
gym[atari]
dm-env
trfl
optax
flax
typing-extensions
bsuite
dm-reverb==0.7.2
rlds
chex
keras==2.8.0
dm-sonnet
tensorflow==2.8.0
pillow
dm-control==0.0.364896371
pygame==2.1.0
jaxlib==0.3.5
tensorflow-datasets==4.5.2
dm-launchpad==0.5.2
absl-py
dm-tree
